<div class="container">
    <div class="form-login">
      <p class="sign-up">Sign up to calm down <br> even more</p>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, :placeholder => "Email", label: false,
                                required: true,
                                autofocus: true,
                                input_html: { class: "charlies-input", autocomplete: "email" } %>
            <%= f.input :password, :placeholder => "Password", label: false,
                                   required: true,
                                   hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                   input_html: { class: "charlies-input", autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, :placeholder => "Password Confirmation", label: false,
                                                required: true,
                                                input_html: { class: "charlies-input", autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "charlies-btn" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
</div>

