<div class="title">
  <h1 class="text-center">DASHBOARD</h1>
</div>


<%= @sessions.class %>

<%= bar_chart() %>


<%= link_to "Back", root_path %>
<%= link_to "Settings", settings_path %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>