<h1>SETTINGS</h1>
<div class="container settings">
  <div class="accordion" id="accordionMain">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Contacts
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMain">
        <div class="card-body">
            <div class="accordion" id="accordion2">
              <% @contacts.each do |contact| %>
                <div class="card">
                  <div class="card-header" id="heading<%= contact.id %>">
                    <h5 class="mb-0">
                      <button class="btn" type="button" data-toggle="collapse" data-target="#collapse<%= contact.id %>" aria-expanded="false" aria-controls="collapse<%= contact.id %>">
                        <%= contact.name == "" ? "Empty" : contact.name %>
                      </button>
                    </h5>
                  </div>
                  <div id="collapse<%= contact.id %>" class="collapse" aria-labelledby="heading<%= contact.id %>" data-parent="#accordion2">
                    <div class="card-body">
                      <%= simple_form_for contact do |f| %>
                        <%= f.input :name, placeholder: "Enter a name" %>
                        <%= f.input :phone_number, placeholder: "Enter a phone number" %>
                        <%= f.button :submit %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Message
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionMain">
        <div class="card-body">
          <%= render 'shared/message', resource: current_user %>
        </div>
      </div>
    </div>
    <div class="card card-header" id="toggleswitch<%= current_user.voice %>">
      <button class="btn" id="toggle<%= current_user.voice %>"><%= link_to "Toggle Voice", toggle_path, method: :post %></button>
    </div>
  </div>
</div>
